{{define "title"}}Heartbeats{{end}}

{{define "head"}}
    <style>
        .hello{ color: red;}
        hr { border: 1px #ccc dashed;}
        thead {
            background-color: pink;
        }
    </style>
<script>
    setInterval(() => window.location.reload(),60*1000)
</script>
{{end}}

{{define "content"}}
    <table>
        <thead>
            <tr>
                <th>key</th>
                <th>mac</th>
                <th>comment</th>
                <th>ip</th>
                <th>hostname</th>
                <th>last_heartbeat</th>
                <th>elapsed</th>
            </tr>
        </thead>
        <tbody>
{{range $k,$heartbeat := .heartbeats}}
            <tr>
                <td>{{ $k }}</td>
                <td>{{ .mac }}</td>
                <td>{{ .comment }}</td>
                <td>{{ .ip }}</td>
                <td>{{ .hostname }}</td>
                <td>{{ .last_heartbeat }}</td>
                <td>{{ .elapsed }}</td>
            </tr>
{{end}}
        </tbody>
    </table>
{{end}}

<h1>{{ .Path }}</h1>
{{ template "base" . }}
