{{define "title"}}Heartbeats{{end}}

{{define "head"}}
    <style>
        .hello{ color: red;}
        hr { border: 1px #ccc dashed;}
        thead {
            background-color: pink;
        }
        .good {
            color: green;
        }
        .bad {
            color: red;
        }
    </style>
    <script>
        setInterval(() => window.location.reload(),60*1000)
    </script>
    <script>

        function SendAnsibleInstall(mac) {
            let ce = new CloudEvents()
            let data = {
                packages: "ansible sshpass aptitude git wget",
                roles: "geerlingguy.pip geerlingguy.docker_arm",
                base: "",
                inventory: "https://update.cb-na.cloud/ansible/local.yml",
                playbooks: ["https://update.cb-na.cloud/ansible/clone.yml", "/tmp/v2-ansible/playbooks/first_install.yml"]
            }
            ce.send('com.plugis.ansible.playbook', data, 'com.plugis.ansible.'+mac)
        }

        function SendAptUpdate(mac) {
            let ce = new CloudEvents()
            let data = {
                command: ["apt","update"]
            }
            ce.send('com.plugis.shell.command', data, 'com.plugis.shell.'+mac)
        }

    </script>
    <script src="/js/cloudevents.js"></script>

{{end}}

{{define "content"}}
    <table>
        <thead>
            <tr>
                <th>key</th>
                <th>mac</th>
                <th>comment</th>
                <th>ip</th>
                <th>hostname</th>
                <th>first_heartbeat</th>
                <th>last_heartbeat</th>
                <th>elapsed</th>
                <th>CloudEvent</th>
            </tr>
        </thead>
        <tbody>
{{range $k,$heartbeat := .heartbeats}}
            <tr class="{{ if gt .elapsed "00:01:00" }}bad{{else}}good{{end}}">
                <td>{{ $k }}</td>
                <td>{{ .mac }}</td>
                <td>{{ .comment }}</td>
                <td>{{ .ip }}</td>
                <td>{{ .hostname }}</td>
                <td>{{ .first_heartbeat }}</td>
                <td>{{ .last_heartbeat }}</td>
                <td>{{ .elapsed }}</td>
                <td>
                    <button onclick="if (confirm('Lancer l\'installation ?')) SendAnsibleInstall({{ .mac }})">Install</button>
                    <button onclick="if (confirm('Lancer l\'update ?')) SendAptUpdate({{ .mac }})">apt update</button>
                </td>
            </tr>
{{end}}
        </tbody>
    </table>
{{end}}

<h1>{{ .Path }}</h1>
{{- template "base" . }}
